*{
font-family: 'Montserrat', sans-serif;
color: #F86624;
margin: 0;
padding: 1em;
text-align: center;
}

body {
background-color: #F9C80E;

}

h1 {
color: #662E9B;
font-family: 'Montserrat', sans-serif;
}